<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="d-flex gap-3">
                <a href="https://instagram.com/wonderrxjr" target="_blank"><i class="fa-brands fa-instagram fa-2xl"></i></a>
                <a href="https://bsky.app/profile/wonderrxjr.bsky.social" target="_blank" style="text-decoration: none;"><i
                        class="fa-brands fa-bluesky fa-2xl"></i></a>
                <a href="https://linkedin.com/in/trevorbuechler/" target="_blank"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
                <a href="https://github.com/wonderrxjr" target="_blank"><i class="fa-brands fa-github fa-2xl"></i></a>
                <a href="https://letterboxd.com/wonderrxjr" target="_blank"><i class="fa-brands fa-letterboxd fa-2xl"></i></a>
                <a href="https://last.fm/user/wonderrxjr" target="_blank"><i class="fa-brands fa-lastfm fa-2xl"></i></a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 text-left">
                <p>&copy; {{ year }} Trevor Buechler</p>
            </div>
        </div>
    </div>
</footer>
