{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Contact</h1>
            <p>Here are a few ways you can reach me. I also have my LinkedIn and GitHub linked as well.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <p>Email: <a href="mailto:trevor@trevorbuechler.com" target="_blank">trevor@trevorbuechler.com</a></p>
            <p>LinkedIn: <a href="https://linkedin.com/in/trevorbuechler/" target="_blank">linkedin.com/in/trevorbuechler/</a></p>
            <p>GitHub: <a href="https://github.com/wonderrxjr" target="_blank">github.com/wonderrxjr</a></p>
        </div>
    </div>
</div>
{% endblock %}